{% extends 'index.html' %}

<!--Block content goes below-->


  {% block childTemplate %}
  {% load static %}
<div class="container">
      <div class="row">
        <h1>About Us Page</h1>
        <p>Some text about who we are and what we do.</p>
        <p>
          Resize the browser window to see that this page is responsive by the
          way.
        </p>
      </div>

      <div class="row">
        <div class="col-4 col-md-4">
          <div class="card">
            <div class="container">
              <h2>Jane Doe</h2>
              <p class="title">Test User</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>jane@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="col-4 col-md-4">
          <div class="card">
            <div class="container">
              <h2>Mike Ross</h2>
              <p class="title">Developer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>mike@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        
      </div>
</div>
{% endblock %}
