{% extends 'index.html' %}

<!--Block content goes below-->
{% block childTemplate %}
{% load static %}
<div class="container">
     <h1 class="" align="center">Welcome to Gallery</h1>
     <div class="row">
      <div class="card col-sm-5 col-4 mt-2 ms-1">
         <div class="container">
            <p>Card1</p>
         </div>
        </div>
        <div class="card  col-sm-5 col-4 mt-2 ms-1">
         <div class="container">
            <p>Card2</p>
         </div>
        </div>
      <div class="card col-sm-5 col-4 mt-2 ms-1">
         <div class="container">
            <p>Card3</p>
         </div>
        </div>
     </div>
</div>
{% endblock %}
