{% extends 'index.html' %}

<!--Block content goes below-->


  {% block content %}
  {% load static %}
  <h2 style="text-align: center">Image  Gallary</h2>
      <div class="row">
        <div class="col-4 col-md-4">
          <div class="card">
            <img
              src="./static/images/img1.jpg"
              alt="Image1"
              style="width: 100%"
              height="200"
            />
            <div class="container">
              <h2>First Image</h2>
              <p class="title">Img1</p>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-4">
          <div class="card">
            <img
              src="{% static 'images/img2.jpg'%}"
              alt="Image2"
              style="width: 100%"
              height="200"
            />
            <div class="container">
              <h2>Second Image</h2>
              <p class="title">Img2</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 p-1">
        <button class="btn btn-primary" onclick="clickBtn()">click me</button>
      </div>

  {% endblock %}