<div class="row">
    <ul class="nav bg-info">
        <li class="nav-item">
          <a class="nav-link link-light" href="../">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="about_page_id">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="contact_us_id">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="gallery_page_id">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="login_page_id">Login</a>
        </li>
      </ul>
  </div>